.contact-section {
/*   margin-top: 100px;
  min-height: calc(100vh - 100px); */
  background: #d9d9d9;
}

.contact-info {
  background: linear-gradient(to bottom, #717372, #000000);
}

iframe {
  border: 0;
  border-radius: 1rem; 
}